// colors
$lightgray: #DADFEA;
$tan: #F5D790;
$gray: #303240;
$red: #DE023D;
$lavender: #B8C2F5;
$green: #A2F5B9;
$darkgray: #17181F;
$black: #000000;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.3);
$default-box-shadow: 5px 5px 12px $shadow;
$default-box-shadow-light: 3px 3px 9px $shadow;
$default-box-shadow-heavy: 7px 7px 15px $shadow;

// misc.
$side-margin: max(4vw, 25px);
$media-breakpoint: 1000px;
$nav-height: 7.5vh;

//
// mixins & templates
//
@mixin flex-row {
	display: flex;
	flex-direction: row;
}
@mixin flex-column {
	display: flex;
	flex-direction: column;
}


//
// animations
//
@keyframes magnet {
	from {}
	to {
		box-shadow: 3px 3px 3px $shadow;
	}
}
@mixin magnetic-effect {
	animation-duration: 0.2s;
	animation-name: magnet;
}


//
// global styles templates
//

.text {
	color: $white;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	line-height: 140%;
	letter-spacing: 0.1em;
}
.text.title {
	font-size: 4.0em;
	font-weight: 900;
}
.text.subtitle {
	font-size: 3.0em;
	font-weight: 900;
	margin-bottom: 10px;
}
.text.bold {
	font-weight: 900;
}
.text.link {
	color: $white;
}
.text.link:hover {}
.text.link.tool {}
.text.link.tool:hover {}


//
// media queries
//

@media screen and (max-width: calc(#{$media-breakpoint} - 1px)) {
	.desktop {
		display: none;
	}
}
@media screen and (min-width: $media-breakpoint) {
	.mobile {
		display: none;
	}
}

@mixin desktop-only {
	@media screen and (max-width: calc(#{$media-breakpoint} - 1px)) {
		display: none;
	}
}
@mixin mobile-only {
	@media screen and (max-width: $media-breakpoint) {
		display: none;
	}
}