// styling for body of index.html

@import 'main.scss';
@import 'nav.scss';
@import 'gif-preview.scss';

#title-display {
	@include flex-column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - #{$nav-height});
}

#background-gif-display {
	z-index: 0;
	@include flex-row;
	flex-wrap: wrap;
	position: absolute;
	width: 100vw;
	height: calc(100vh - #{$nav-height});
	background-color: $black;
	overflow: hidden;

	.gif-container {
		@include flex-column;
		align-items: center;
		justify-content: center;
		width: calc(100%/5);
		height: calc(100%/3);
		overflow: hidden;
		@media screen and (max-width: $media-breakpoint) {
			width: calc(100%/3);
		}	// reduce dimensions to 3x3 on mobile
			// * not optomized for mobile

		.gif {
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			overflow: hidden;
		}
	}

	.transparent-overlay {
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
	}

}

.title-content {
	z-index: 1;
	.title {
		color: $white;
		letter-spacing: 0.4em;
	}
}