@import '_global.scss';

#test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.video-view {
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    .video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: #ccc;
    }
    .video:hover + .video-content{
        visibility: visible;
    }
    .video-content:hover {
        visibility: visible;
    }
    .video-content {
        height: 25px;
        display: flex;
        visibility: hidden;
        background-color: rgb(65, 65, 65);
        opacity: 80%;
        width: 100%;
        margin: 5px; //margin around button container
        align-self: flex-end;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        i {
            color: black;
        }

    }
}


//
// custom styles must be placed near
// bottom to overwrite default styles
//

// Navigation CSS + top bar

#navigation{
    background-color: $red;
    position: fixed;
	z-index: 1;
    width:100vw;
    height:50px;
    font-size: 1.5vw;
    @include flex-row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    #active{
        color:$darkgray;
    }
    a{
    color:$lightgray;
    text-decoration: none;
    }
    i{
        font-size: 2.5vw;
    }
    div{
        width:50%;
        @include flex-row;
        justify-content: space-between;
        align-items: center;
    }
    #search{
        width:10%;
        border: 1px solid black;
        border-radius: 15%;
        height:1.5vw;
    }
}

// This is the css for the footer
#footer{

    background-color: $red;
    width:100%;
    height:50px;
    font-size: .8vw;
    @include flex-row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    a{
        color:$lightgray;
        text-decoration: none;
    }

}

// CSS for the main body.
#body-container{
    padding-top:100px;
    padding-bottom:50px;
    background-color: $darkgray;
    color:$lightgray;
    width:100vw;
    @include flex-row;
    justify-content: space-around;
    div{
        width:45%;
        @include flex-column;
        align-items: center;
    }


}
//Media Query
@media only screen and (max-width: 800px) {
	#navigation div {
	  display:none;
	}
  }

  @media only screen and (min-width: 800px) {
	#hamburger {
	  display:none;
	}
  }