// global styles

@import '_global.scss';

* {
	margin: 0px;
	padding: 0px;
}
body {
	@include flex-column;
	width: 100vw;
	background-color: $darkgray;
}
a {
	text-decoration: none;
}

#body-container {
    @include flex-column;
    align-items: center;
    width: 100vw;
}

#background-gradient {
    position: fixed;
    top: $nav-height;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom right, $black, $darkgray, $black);
}

#main-content {
    margin: $nav-height $side-margin 0 $side-margin;
}

#dynamic-gifs-display {
    @include flex-row;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden;
    padding: 50px;
}

//
// custom styles must be placed near
// bottom to overwrite default styles
//

// Navigation CSS + top bar

#drop-down-nav{
    color:$white;
    background-color:$red;
     div{
        @include flex-row;
        justify-content: space-evenly;
        align-items: center;
        height:100%;
        border-bottom: 2px solid $darkgray;
    }
    a, i{
        text-decoration: none;
        color:$white;
        font-size: 3.5vw;
    }
}

#navigation{
    background-color: $red;
    width:100%;
    height:5vw;
    font-size: 1.5vw;
    @include flex-row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 1.5vw;
    border-bottom: 25px solid #b60333;
    position:fixed;
    z-index: 5;
    #active{
        color:$darkgray;
    }
    a{
	    color:$lightgray;
	    text-decoration: none;
    }
    i{
        font-size: 2.5vw;
    }
    #links{
        width:50%;
        @include flex-row;
        justify-content: space-between;
        align-items: center;
    }
    #search{
        width:10vw;
        border: 1px solid black;
        border-radius: 15%;
        height:1.5vw;
    }
    #searchButton{
        width:6vw;
        height:2vw;
        border-color: #9b042c;
        border-radius: 10%;
        background-color: #b60333;
        color:$white;
        font-size: 2vw;
    }
}

#navbar-padding {
	height: 12vw;
}


// This is the css for the footer
#footer{

	background-color: $red;
	width:100%;
	height:50px;
	font-size: .8vw;
	@include flex-row;
	justify-content: space-around;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;

	a{
		color:$lightgray;
		text-decoration: none;
	}

}

// Media Queries
//Mobile first media query

#navigation #links {
    @include mobile-only;
    #navigation #links {
        display:none;
        
      }
    }
    #drop-down-nav{
        z-index: 5;
      }


#navigation{
    justify-content: space-between;
    div{
        padding-left:5vw;
    }
    #search{
        height:4vw;
        width:25vw;
    }
    #searchButton{
        height:4vw;
        width:10vw;
    }
    i{
        font-size: 5vw;
        padding-right:5vw;
     }
}
#navbar-padding{
    height:17vw;
}
#footer{
    font-size: 2.5vw;
}

//desktop media query

@media only screen and (min-width: $media-breakpoint) {
	#navigation #hamburger {
	  display:none;
	}
    #drop-down-nav{
        display:none;
    }
    #navigation{
        div{
            padding-right:5vw;
        }
        font-size: 2.5vw;
        #search{
            height:2vw;
            width:15vw;
        }
        #searchButton{
            font-size: 1vw;
        }
    }
}
