// global styles

@import '_global.scss';

* {
	margin: 0px;
	padding: 0px;
}
body {
	@include flex-column;
	width: 100vw;
	background-color: $darkgray;
}
a {
	text-decoration: none;
}


#test {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#gifHolder {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.video-view {
	display: flex;
	position: relative;
	width: 300px;
	height: 300px;
	.video {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-color: #ccc;
	}
	.video:hover + .video-content{
		visibility: visible;
	}
	.video-content:hover {
		visibility: visible;
	}
	.video-content {
		height: 25px;
		display: flex;
		visibility: hidden;
		background-color: rgb(65, 65, 65);
		opacity: 80%;
		width: 100%;
		margin: 5px; //margin around button container
		align-self: flex-end;
		align-items: center;
		justify-content: space-around;
		z-index: 1;
		i {
			color: black;
		}

	}
}


//
// custom styles must be placed near
// bottom to overwrite default styles
//

// Navigation CSS + top bar

#drop-down-nav{
    color:$white;
    background-color:$red;
     div{
        @include flex-row;
        justify-content: space-evenly;
        align-items: center;
        height:100%;
        border-bottom: 2px solid $darkgray;
    }
    a, i{
        text-decoration: none;
        color:$white;
        font-size: 3.5vw;
    }
}

#navigation{
    background-color: $red;
    width:100%;
    height:5vw;
    font-size: 1.5vw;
    @include flex-row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: .5vw;
    border-bottom: 25px solid #b60333;
    position:fixed;
    #active{
        color:$darkgray;
    }
    a{
	    color:$lightgray;
	    text-decoration: none;
    }
    i{
        font-size: 2.5vw;
    }
    #links{
        width:50%;
        @include flex-row;
        justify-content: space-between;
        align-items: center;
    }
    #search{
        width:10vw;
        border: 1px solid black;
        border-radius: 15%;
        height:1.5vw;
    }
    #searchButton{
        width:6vw;
        height:2vw;
        border-color: #9b042c;
        border-radius: 10%;
        background-color: #b60333;
        color:$white;
        font-size: 2vw;
    }
}

#navbar-padding {
	height: 12vw;
}


// This is the css for the footer
#footer{

	background-color: $red;
	width:100%;
	height:50px;
	font-size: .8vw;
	@include flex-row;
	justify-content: space-around;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;

	a{
		color:$lightgray;
		text-decoration: none;
	}

}

#body-container{
    color:$lightgray;
    width:100%;
}

// Media Queries
// * optomize this later with mobile-only and desktop-only mixins
// * can use navbar on index.html and nav.scss as reference
@media only screen and (max-width: 800px) {
	#navigation #links {
	  display:none;
	}
	// #navigation{
	// 	justify-content: space-evenly;
	// 	#search{
	// 		height:4vw;
	// 		width:25vw;
	// 	}
	// 	i{
	// 		font-size: 5vw;
	// 	}
	// }
}


#navigation{
    justify-content: space-evenly;
    #search{
        height:4vw;
        width:25vw;
    }
    #searchButton{
        height:4vw;
        width:10vw;
    }
    i{
        font-size: 5vw;
    }
}
#navbar-padding{
    height:17vw;
}
#footer{
    font-size: 2.5vw;
}

@media only screen and (min-width: 801px) {
	#navigation #hamburger {
	  display:none;
	}
    #drop-down-nav{
        display:none;
    }
    #navigation{
        font-size: 2.5vw;
        #search{
            height:2vw;
            width:15vw;
        }
        #searchButton{
            font-size: 1vw;
        }
    }
}


//styling for new search bar
$lightgray: #DADFEA;
.searchForm {
    width: 160px;
    background-color: $lightgray;
    display:flex;
    flex-direction:row;
    border:1px solid grey;
    padding:2px;

    input {
        background-color: $lightgray;
        border:none;
        outline: none;
    }

    button {
        border: none;
        background: none;
    }

    button:hover {
        cursor: pointer;
    }
}
