@import 'main.scss';

#navbar {
	@include flex-row;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	z-index: 1;
	height: $nav-height;
	width: 100vw;
	background-color: $red;

	.navlinks-container {
		@include flex-row;
		justify-content: space-between;
		width: 33%;
		height: 100%;

		.navlink {
			@include flex-column;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
		}
		.navlink:hover {
			background-color: $gray;
		}
		.navlink.active {
			background-color: $darkgray;
			.text {font-weight: 600;}
		}

	}
}

#search-bar {
	width: 67%;
}