// styling for navbar

@import '_global.scss';

#navbar {
	@include flex-row;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	height: $nav-height;
	width: 100vw;
	background-color: $red;
	box-shadow: $default-box-shadow;

	z-index: 2;

	.navlinks-container {
		@include flex-row;
		@include desktop-only;
		justify-content: space-between;
		min-width: 33%;
		height: 100%;

		.navlink {
			@include flex-column;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			min-width: 200px;
		}
		.navlink:hover {
			background-color: $gray;
		}
		.navlink.active {
			background-color: $darkgray;
			.text {font-weight: 600;}
		}
	}
}

#navbar-padding {
	height: $nav-height;
}

#search-bar {
	@include flex-row;
	width: 80%;
	height: calc(#{$nav-height} / 2);
	.btn {
		border: none;
	}
	.btn:hover {
		cursor: pointer;
	}
}